/* 카드 4장씩 보이게 width 조정하고 */
/* 가운데정렬 */
#wrapper{
    width: 30%;
    margin: 0 auto;
} 

/* 카드 크기랑 간격, 원근감 설정 */
.card{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 130px;
    perspective: 140px;
}

.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.8s;
    transform-style: preserve-3d; 
    /* 이걸 줘야지 카드가 뒤집힘 */
}

.card.filpped .card-inner{
    /* 카드를 뒤집음 */
    transform: rotateY(180deg);
}

/* 카드 앞면 (보이는면) */
.card-front{
    background-color: navy;
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    backface-visibility: hidden; /* 이거 없으면 뒷면 보임 */
}

.card-back{
    transform: rotateY(180deg);
}